<article>
  <h3>Open Source</h3>
  <p>The content of this site is free for anyone to add to, use, re-use and re-mix under the CC0 license except for where noticed otherwise.</p>
  <ul>
    <li><a href="https://github.com/CollaboratingCities/guides">GitHub: CollaboratingCities/guides</a></li>
    <li><a href="/CONTRIBUTING">How to contribute</a></li>
  </ul>
</article>
